/*==========================
      TABLET DEVICES
==========================*/

@media(max-width:992px){

    .navbar{
        padding:15px 5%;
    }

    .hero-content h1{
        font-size:55px;
    }

    .about-preview{
        grid-template-columns:1fr;
    }

    .footer-content{
        grid-template-columns:1fr 1fr;
    }

}

/*==========================
      MOBILE DEVICES
==========================*/

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width:150px;
    height:auto;
}

.menu-toggle{
    display:block;
    font-size:32px;
    color:#fff;
    cursor:pointer;
}

    .nav-links{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#081628;
        flex-direction:column;
        text-align:center;
        gap:20px;
        padding:25px 0;
        display:none;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-buttons{
        display:none;
    }

    .hero{
        text-align:center;
        padding: 160px 5% 80px;
        min-height: 100vh;
        align-items:center;
    }
    .hero-content{
        margin-top: 40px;
        text-align: center;
    }

    .hero-content h1{
        font-size:32px;
        line-height:1.15;
    }

    .hero-content p{
        font-size:17px;
    }

    .hero-buttons{
        justify-content:center;
    }

    .about-text h2,
    .section-title h2,
    .contact-cta h2{
        font-size:42px;
        line-height: 1.2;
    }
    .about-text p{
        font-size: 17px;
        line-height: 1.8;
    }

    .footer-content{
        grid-template-columns:1fr;
        text-align:center;
    }
.food-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}

.food-card img{
    width: 100px;
    height: 130px;
    object-fit: cover;
}
.food-card h3{
    font-size: 13px;
    padding: 8px;
}
}


/*==========================
      SMALL PHONES
==========================*/
@media(max-width:480px){

    .hero-content h1{
        font-size:34px;
    }

    .hero-content p{
        font-size:16px;
    }

    .discover-btn,
    .contact-btn,
    .call-btn,
    .whatsapp-btn{
        width:100%;
        text-align:center;
    }

    .service-card,
    .why-card{
        margin:0 auto;
    }

}